.journals-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

  }
  
.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 10px;
    justify-content: center;
    max-width: 1500px;

  }
.no-journals-message{
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f96a;
    border-radius: 8px;
    color: #555;
    border-style: dashed;
    border-color: #333;
    border-width: 1px;
    width: 50%;
}
  
  
  .create-entry-button {
    display: inline-block;
    background-color: #57886a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .create-entry-button:hover {
    background-color: #406a50;
  }

