.auth-page {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f7f9fc;
}

.luma-container{
  
    text-align: center;
    margin-bottom: 1rem;
}
  
.luma-container h1 {
    font-size: 2rem;
    font-weight: lighter;
    color: #57886a;
}


.image-container {
  flex: 1;
  display: flex;
  background-color: #e8f0fe;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; /* optional, for rounded corners */
}

.form-container {
  width: 500px;
  padding: 0 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
}

.auth-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: 600;
}