.journals-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  gap: 20px; 
  padding: 20px;
}


.journal-card {
  flex: 0 0 auto;
  width: 100px;   
  height: 150px;
  cursor: pointer;
  color: white;
  padding: 20px;
  border-radius: 20px 10px 10px 0px;
  background-color: var(--journal-color, #fff);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.journal-card:hover {
  transform: scale(1.05);  
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.journal-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 2;
}

.journal-card h3 {
  font-size: 1.2em;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.journal-year {
  font-size: 0.9em;
  color: #ffffffc9;
  font-weight: bold;
  margin-top: auto;
  align-self: flex-end;
  padding: 3px 8px;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*!spine*/
.journal-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  width: 15px; 
  height: 100%;
  background: linear-gradient(to bottom, 
  rgba(0, 0, 0, 0.6), 
  rgba(0, 0, 0, 0.3));
  border-radius: 20px 0px 0 10px;
  box-shadow: inset -1px 0 2px rgba(255, 255, 255, 0.1);
}

/*! Bookmark */
.journal-bookmark {
  position: absolute;
  top: -5px;
  right: 15px;
  width: 20px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

/*!retro dot pattern */
.journal-line-pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(rgba(255, 255, 255, 0.219) 1px, transparent 1px);
  background-size: 6px 6px;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}


.journal-card:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background: linear-gradient(135deg, transparent 50%, rgba(0, 0, 0, 0.2) 50%);
  border-radius: 0 0 10px 0;
}